version: "3.8"
services:
  server:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - server-data:/app/dist/data
    environment:
      - NODE_ENV=production

  client:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - server

volumes:
  server-data: